body {
  border-top: .5em solid #ececec;
  color: #333;
  margin:auto;
}

h1 {
  font-weight: 400;
  color: #238b45;
}

h2 {
  font-weight: 200;
  font-size: 2em;
  color: #238b45;
}

a {
  color: #cb4b16;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

